ion-fab-button {
    --background: #63806E;
}

ion-content {



    #text {
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        padding-top: 20px;
    }

}

.texto1 {
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}

.texto2 {
    color: rgb(255, 255, 255);
}